<h1 class="heading">Contact Us</h1>

<div class="location">
  <div class="row">
     <div class="col-lg-6 ">
        <div class="card">
             <img src="https://www.maropost.com/wp-content/uploads/2020/06/Toronto@2x.png">
                <div class="content">
                     <h4>Toronto - <bl>HQ</bl></h4>
                        <p>180 University - Suite 5002<br>
                        Toronto, ON<br>
                        M5H 0A2</p>
                 </div>
         </div>
      </div>
 <div class="col-lg-6">
     <div class="card">
         <img src="https://www.maropost.com/wp-content/uploads/2020/06/India@2x.png">
            <div class="content">
               <h4>Chandigarh</h4>
                  <p>1180 Sector 67<br>
                 Mohali, Punjab<br>
                 160062, India</p>
             </div>
       </div>
    </div>
  </div>
</div>

<div class="row mt-4 mb-4" style="display:block;">
  <h2 class="bold mb-0">Price</h2>
  <p>1.888.438.3152<b>Sales:</b> Ext. 1   <b>Technical Support:</b> Ext. 2 <b>Billing:</b> Ext. 3</p>
</div>

<div class="row mb-4" style="display:block;">
  <h2 class="bold mb-0">Sales</h2>
  <p>For any questions about signing up or picking the plan that fits</p>
</div> 

 <div class="row mb-4" >
 <div class="col-lg-12 p-0"><h2 class="bold mb-0">Support</h2></div>
  <div class="col-lg-6 p-0">
     <h4 class="blue">Technical Support - 24/7</h4>
     <p>For any technical questions or issues, our Support Team is always available to help—24/7, 365.</p>
  </div>
  <div class="col-lg-6 p-0">
    <h4  class="blue">Success</h4>
    <p>To reach out to your success manager, please email the address below with your customer id number as the subject line.</p>
  </div>
 </div>

 <div class="billing row mb-4" style="display:block;">
 <h2 class="bold mb-0">Billing</h2>
    <h4  class="blue">Contact Billing</h4>
  <p>If you have any questions on our billing process or any bills you’ve received.</p>
 </div>